<h1> The Different Styles of IPA's</h1>

  <table>
      <tr>
        <th> Style </th>
      </tr>

      <% @styles.each do |style| %>
        <tr>
            <td> <%= style.style %> </td>
            <td><%= link_to 'Show', style_path(style) %></td>
            <td><%= link_to 'Edit', edit_style_path(style) %> </td>
          </tr>
          <% end %>
        </table>
